.hide {
	display:none;
}
.start, .stop {
	font-size: 36px;
}

.car {
	width: 50px;
	height: 100px;
  position: absolute;
  bottom: 10%;
  left: 50%;
	background: transparent url('./image/luxuryPlayer.png') center /cover no-repeat ;
}
